@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #2e948a;
  display: flex;
  justify-content: space-around;
  height: 18vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 2rem;
}

nav li a {
  font-family: "Ubuntu";
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
}

/*  ============= */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 35vw;
}
.contato h2 {
  font-size: 2.5rem;
  color: #ff4081;
  font-weight: 700;
  margin: 1rem 0;
}

form {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 7px;
  color: #58555d;
}

button {
  width: 12vw;
  margin: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #ff4081;
  font-weight: 800;
}

/* =============== */

footer {
  background-color: #2e948a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.footer-logo {
  display: flex;
  color: #fff;
  gap: 1rem;
}

.footer-logo h2 {
  font-size: 4.125rem;
}

.footer-menus ul {
  display: block;
}

.footer-menus li {
  margin: 1rem;
}

.footer-menus a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0;
  border: 2px solid #fff;
  text-align: center;
  padding: 0.2rem 2rem;
  border-radius: 3.8rem;
}

@media (max-width: 425px) {
  header {
    width: 100vw;
    background-color: #2e948a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 0.3rem;
    font-weight: 700;
  }

  header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* ===================== */
  .container {
    width: 100vw;
  }

  .contato {
    display: flex;
    flex-direction: column;
  }
  .contato h2 {
    margin: 1rem 0 0 1rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: #ff4081;
  }

  form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  input,
  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #58555d;
  }

  textarea::placeholder,
  input::placeholder {
    color: #58555d;
  }

  button {
    width: 90vw;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
  }

  .banner img {
    display: none;
  }
  footer {
    width: 100vw;
    background-color: #009688;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }

  footer a {
    color: #fff;
    display: flex;
  }

  .footer-logo {
    display: flex;
  }

  .footer-logo img {
    width: 4rem;
  }

  .footer-logo h2 {
    font-size: 1.5rem;
  }

  .footer-menus ul {
    display: block;
  }

  .footer-menus li {
    margin: 1rem;
  }

  .footer-menus a {
    font-size: 0.9rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer-links a {
    width: 7rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0.2rem;
    border: 1px solid #fff;
    padding: 0.2rem 0.1rem;
    border-radius: 3.8rem;
  }
}