@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
  text-decoration: none;
}

/*  ====== ADIÇÕES ======= */

button{
  border-radius: 62px;
  font-weight: 400;
  font-size: 20px;
  width: 233px;
  height: 51px;
}

.t-rosa-grande{
  color: #FF4081;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}

.t-rosa-pequeno{
  color: #FF4081;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.sub-cinza-medio{
  font-weight: 400;
  font-size: 27px;
  color: #555555;
}

#btn-rosa-branco{
  border: 2px solid #FF4081;
  color: #FF4081;
  background-color: #fff;
  margin: 5px;
  width: 300px;
}

.banner{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ============= */

header {
  background-color: #2e948a;
  display: flex;
  justify-content: space-around;
  height: 18vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 2rem;
}

nav li a {
  font-family: "Ubuntu";
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
}

/*  ============= */

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin: 2rem;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.intro-texto {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.intro-texto h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #009688;
  margin: 3rem 0;
}

.intro-texto p {
  font-size: 1.25rem;
  color: #000;
  font-weight: 500;
}

.container-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

.posts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.posts hr {
  display: none;
}

.posts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 1rem 0;
}

.posts-item img {
  width: 30vw;
  height: 40vh;
  margin: 2rem;
  border-radius: 50%;
}

.posts-item h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ff4081;
  margin-bottom: 0.5rem;
}

.posts-item p {
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  text-align: justify;
}
/* =============== */

footer {
  background-color: #2e948a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.footer-logo {
  display: flex;
  color: #fff;
  gap: 1rem;
}

.footer-logo h2 {
  font-size: 4.125rem;
}

.footer-menus ul {
  display: block;
}

.footer-menus li {
  margin: 1rem;
}

.footer-menus a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0;
  border: 2px solid #fff;
  text-align: center;
  padding: 0.2rem 2rem;
  border-radius: 3.8rem;
}

@media (max-width: 425px) {
  header {
    width: 100vw;
    background-color: #2e948a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 0.3rem;
    font-weight: 700;
  }

  header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* ===================== */

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro img {
    width: 75%;
  }

  .intro-texto {
    width: 100vw;
  }

  .intro-texto h2 {
    color: #009688;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .intro-texto p {
    color: #000;
    font-size: 1rem;
    text-align: justify;
    margin: 1rem;
  }

  .container-posts {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e5e5e5;
  }

  .posts {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .posts hr {
    display: block;
  }

  .posts-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .posts-item img {
    width: 10rem;
    border-radius: 10rem;
  }

  .posts-item h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ff4081;
    margin: 1rem 0;
  }

  .posts-item p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 1rem;
  }
  /* ===================== */

  footer {
    width: 100vw;
    background-color: #009688;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }

  footer a {
    color: #fff;
    display: flex;
  }

  .footer-logo {
    display: flex;
  }

  .footer-logo img {
    width: 4rem;
  }

  .footer-logo h2 {
    font-size: 1.5rem;
  }

  .footer-menus ul {
    display: block;
  }

  .footer-menus li {
    margin: 1rem;
  }

  .footer-menus a {
    font-size: 0.9rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer-links a {
    width: 7rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0.2rem;
    border: 1px solid #fff;
    padding: 0.2rem 0.1rem;
    border-radius: 3.8rem;
  }
}

@media (max-width: 768px) {
  .posts-item img {
    width: 13rem;
    border-radius: 10rem;
  }
}