/* 
Bem vindo ao arquivo de CSS do projeto. Vamos usar este espaço aqui para deixar recados úteis para os outros. Por enquanto este esquivo está no começo, tem várias coisas que 
só fui perceber fazendo. O que quero destacar primeiro é que cada página vai precisar de estilos próprios, fique à vontade para criar novas classes e IDs. 
O que segue universal são estilos de cores, de alguns tipos de botões, do header e do footer.

Para edições destrutivas ou refatoração, usar um galho paralelo à "main".

## USO ##
1 - do geral para o específico
2 - elementos --> classes --> Ids
3 - Não usar pontuação, nem underline

## A FAZER ##
No <header> o espaçamento entre BLOG e CONTATO está estranho

Usar grid ou flexbox para organizar elementos (precisa desenvolver mais HTML antes para ir testando)
Terminar de copiar CSS de https://www.figma.com/file/fBQ1nm00ynNQPK9GBwyMBc/dindin
*/


/* # ELEMENTOS # */

* {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

main{
    margin: 0 6%;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    padding: 15px;
}

header ul li a{
    width: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

body{
    background-color: #E5E5E5;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1% 5% 1% 5%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #419488;
    margin-top: 5%;
}

footer ul{
    list-style: none;
}

footer ul li a{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

button{
    border-radius: 62px;
    font-weight: 400;
    font-size: 20px;
    width: 233px;
    height: 51px;
}

button:hover {
    cursor:pointer;
}

/* # CLASSES # */

.secao-main{
    padding: 50px;
}

.artigo-curso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ## FLEX ## */

.flex-vertical{
    display: flex;
    flex-direction: column;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
}

/* ## TITULO ## */

.t-rosa-grande{
    color: #FF4081;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}

.t-rosa-medio{
    color: #FF4081;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

/* ## SUBTITULO */

.sub-cinza{
    /* 
    A FAZER 
    */
}

/* ## TEXTO ## */

.txt-medio{
    font-weight: 400;
    font-size: 20px;
}

.txt-pequeno{
    font-weight: 300;
    font-size: 18px;
}

.txt-header{
    width: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

/* ## FUNDOS ## */

.bg-fundocinza{
    background-color: #F7F7F7;
}

.bg-retangulo{
    background-color: #C4C4C4;
}

/* ## BOTOES ## */

.btn-verde-main{
    color: #Fff;
    background-color: #2E948A;
    width: 300px;
}

.btn-ft{
    border: 2px solid #FFFFFF;
    color: #Fff;
    background-color: #2E948A;
    margin: 5px;
    width: 300px;
}

#secao-subtitulo{
    margin: 2% 0 3% 2%;
}

#subtitulo-cursos{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

#secao-btn{
    padding:5px
}

